.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 27%;
  text-align: center;
  padding: 1rem;
  background-color: #f05a28;
  color: black;
  margin: 2rem;
  float: left;
}

.card:hover {
  box-shadow: 0 8px 16px 0 #ffffff;
}

.plan-btn {
  display: inline-block;
  border: 4px solid black;
  padding: 0.5rem;
  color: black;
}

hr {
  border: 0.05rem solid black;
}

h1,
h4 {
  color: #ffffff;
  text-shadow: 2px 2px 5px #000000;
}
